{% extends "css.html" %}
{% load static %}
{% load markdown_extras dict_extras black_box %}
{% block title %}Chat with {{ account }}{% endblock title %}


{% block page_content %}
	<chat>
		<div
		class="chat__item__container"
		id="id_chat_item_container"
		style="font-size: 20px; width: 100%;"
		>
		
		<br />
		<br />
		<br />
		</div>
		<div class="chat__input__container">
			<input type="text" id="id_message_send_input" data-username="{{ request.user.username }}"/>
			<button type="submit" id="id_message_send_button">Send Message</button>
		</div>
	</chat>
<script src="{% static 'chat/chat.js' %}" defer></script>
{% endblock page_content %}