{% extends "css.html" %}

{% block title %}Chat with {{ account }}{% endblock title %}

{% block page_content %}

<div class="chat-layout">
    <aside class="chat-info-left" id="leftBar">
        <h1>{{ account }}
    </aside>

    <chat>
		{% if messages %}
			{% for message in messages %}
			{% if message.from_user == this_user %}
				<msg class="to">
			{% else %}
				<msg class="from">
			{% endif %}
					{{ message.body }}
					<span class="timestamp">{{ message.sent_on.time }}</span>
				</msg>
			{% endfor %}
		{% endif %}
        <div id="msgDiv">
			<input id="msg" type="text" placeholder="Type a message..."/>
			<button id="sendButton" onclick="sendMsg()" data-to-user="{{ account }}" data-from-user="{{ this_user }}" type="submit">Send</button>
		</div>
    </chat>
	
    <aside class="chat-info-right">
        <h1>{{ username }}
    </aside>
    
</div>

{% endblock page_content %}