{% extends "css.html" %}

{% block title %}Chat with {{ account }}{% endblock title %}

{% block page_content %}

<div class="chat-layout">
    <aside class="chat-info-left">
        <h1>{{ account }}
    </aside>

    <chat>
        <msg class="from">
			I'm good! You?
			<span class="timestamp">10:03 AM</span>
    	</msg>
        <msg class="to">
			Hey!
			<span class="timestamp">10:04 AM</span>
		</msg>
        <div id="msgDiv">
			<input id="msg" type="text" placeholder="Type a message..."/>
			<button id="sendButton" onclick="sendMsg()" data-to-user="{{ account }}" data-from-user="{{ this_user }}" type="submit">Send</button>
		</div>
    </chat>
	
    <aside class="chat-info-right">
        <h1>{{ this_user }}
    </aside>
    
</div>

{% endblock page_content %}