{% extends "base.html" %}
{% load markdown_truncate dict_extras %}

{% block title %}YubTub - Bugs{% endblock title %}

{% block page_content %}

{% if bugs %}
<div class="video-grid" id="bugs">
    {% for bug in bugs %}
        <div class="post-card">
            <div class="post-card-label">{{ bug.get_type_display }} - <u>{{ authors | get_item:bug.author }}</u></div>

            <a href="{% url 'bugs:bugView' bug.pk %}">
                <strong>{{ bug.title.capitalize }}</strong>
            </a>
            <p>{{ bug.body | markdown_truncate:100 }}</p>
            <small>{{bug.created_on}}</small>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if resolvedBugs %}
<div style="margin-top: 50rm">
<h3>Resolved</h3><hr>
<div class="video-grid" id="resolvedBugs">
    {% for bug in resolvedBugs %}
        <div class="post-card">
            <div class="post-card-label">{{ bug.get_type_display }} - <u>{{ authors | get_item:bug.author }}</u></div>

            <a href="{% url 'bugs:bugView' bug.pk %}">
                <strong>{{ bug.title.capitalize }}</strong>
            </a>
            <p>{{ bug.body | markdown_truncate:100 }}</p>
            <small>{{bug.created_on}}</small>
        </div>
    {% endfor %}
</div>
</div>
{% endif %}



{% endblock page_content %}