<DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}YubTub{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="toast-container"></div>
    
<div class="navbar">
    <h1>
        {% block heading %} 
        Welcome to <a class="button" href="{% url 'app:index' %}">YubTub</a> 
        {% endblock heading %}
    </h1>
    {% if request.path == '/' or 'posts/' %} 
    <a href="{% url 'app:TODO' %}">TODO</a> 
    {% endif %}
    
    
    {% if user.is_authenticated %}
    {% if "/account/" in request.path and username == user.username %}
    <div>
        <a href="{% url 'app:postVideo' %}" class="button">Make A Video</a>
        <a href="{% url 'app:makePost' %}" class="button">Make A Post</a>
    </div>
    {% endif %}
    <navbar-buttons>
        <form method="post" action="{% url 'app:logout' %}">
            {% block extra_navbar %}{% endblock extra_navbar %}
            {% if "/account/" not in request.path and username != user.username %}
            <img src="{% static 'img/icons8-bug-60.png' %}" alt="Example Image"> 
            <a id="name" class="button" href="{% url 'app:account' user.username %}">{{ user.username }}</a>
            {% endif %}
            {% csrf_token %}
            <button class="a" type="submit">Logout</button>
            {% if user.is_staff %}
            <a class="button" href="/admin">Admin Site</a>
            {% endif %}
        </form>
    </navbar-buttons>
    {% else %}
    <navbar-buttons>
        <img src="{% static 'img/icons8-bug-60.png' %}" alt="Example Image"> 
        <a class="button" href="{% url 'app:login' %}">Login</a>
    <a class="button" href="{% url 'app:register' %}">Sign Up</a>
    </navbar-buttons>
    {% endif %}
</div>
    {% block page_content %}
    {% endblock page_content %}
</body>

</html>