{% extends "base.html" %}
{% load static %}
{% load markdown_truncate markdown_extras %}
{% block extra_head%}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookup.js' %}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/calendar.js' %}"></script>
    <script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock extra_head %}

{% block heading %}{{ username.capitalize }}'s posted things<button id="follow-button" data-account-id="{{ urlUser.username }}" onclick="followUser()">{% if user in urlUser.followers %}Unfollow {% else %} Follow {% endif %}</button>{% endblock heading %}

{% block page_content %}
    {% block videos %}
        {% for thing in combined %}
            {% if thing.type == "video" %}
                <a href="{% url 'watch' thing.id %}">
                    <img src="{{ thing.thumbnail.url }}" alt="Thumbnail" width="200" height="150"><br>
                </a>
                <small>
                    {{ thing.author }} Posted "{{ thing.title }}" on: {{ thing.created_on }}<br><br>
                </small>
            {% elif thing.type == "post" %}
                <h3>Post: "<a href="{% url 'post' thing.pk %}">{{ thing.title }}</a>"</h3>
                <p>{{ thing.body | markdown_truncate:100 | markdown}}</p>
                <small>Posted by {{ thing.author }} on {{ thing.created_on }}</small>
                <hr>
            {% endif %}
        {% endfor %}
    {% endblock videos %}
{% endblock page_content %}