{% extends "base.html" %}
{% load static %}
{% load markdown_truncate markdown_extras %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script>
        console.log("{{ username.lower }}")
        console.log("{{ username.upper }}")
        console.log("{{ username }}")
    </script>
{% endblock extra_head %}

{% block heading %}
    {{ username }}'s stuff
    {% if not isUsersAccount and user.is_authenticated %}
        <button id="follow-button" data-account="{{ username }}" onclick="followUser()">
            {% if followingUser %}Unfollow{% else %}Follow{% endif %}
        </button>
    {% endif %}
{% endblock heading %}

{% block extra_navbar %}
    <a href="{% url 'accounts:settings' %}" class="button">Settings</a>
{% endblock extra_navbar %}

{% block page_content %}
<hr>
<p id="follow-response"></p>


    {% if combined %}
    <div class="video-grid">
        {% for thing in combined %}

            {% if thing.type == "video" %}
                <div class="video-card">
                    <a href="{% url 'app:watch' thing.id %}">
                        <img src="{{ thing.thumbnail.url }}" alt="Thumbnail">
                    </a>
                    <div class="video-card-info">
                        <strong>{{ thing.title }}</strong>
                        <small>
                            <a href="{% url 'app:account' thing.author %}">{{ thing.author }}</a>
                            · {{ thing.created_on }}
                        </small>
                    </div> 
                </div>

            {% elif thing.type == "post" %}
                <div class="post-card">
                    <div class="post-card-label">Post - <u><a href="{% url "app:account" thing.author %}">{{ thing.author }}</a></u></div>
                    
                    <a href="{% url 'app:post' thing.pk %}">
                        <strong>{{ thing.title }}</strong>
                    </a>
                    <p>{{ thing.body | markdown_truncate:100 }}</p>
                    <small>{{ thing.created_on }}</small>
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% else %}
    <p>Nothing posted yet.</p>
{% endif %}

<div id="toast-container"></div>
{% endblock page_content %}