<DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}YubTub{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        console.log("Video details:", "{{ videos.video_file }}");
    </script>
</head>
<body>
    
<div class="navbar">
    <h1>{% block heading %} Welcome to YubTub! {% endblock heading %}</h1>
    {% if user.is_authenticated %}
        <navbar-buttons>
        <form method="post" action="{% url 'logout' %}">
            <a id="name" class="button" href="{% url 'index' %}">{{ user.username }}</a>
            {% csrf_token %}
            <button type="submit">Logout</button>
            {% if user.is_staff %}
                <a class="button" href="/admin">Admin Site</a>
            {% endif %}
        </form>
        </navbar-buttons>
    {% else %}
    <navbar-buttons>
        <a class="button" href="login">Login</a>
        <a class="button" href="signup">Sign Up</a>
    </navbar-buttons>
    {% endif %}
</div>
    {% block page_content %}
    {% endblock page_content %}
</body>

</html>