<DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}YubTub{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        console.log("Video details:", "{{ videos.video_file }}");
    </script>
    <script src="{% static 'script.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    
<div class="navbar">
    <h1>{% block heading %} Welcome to <a class="button" href="{% url 'index' %}">YubTub</a> {% endblock heading %}</h1>{% if request.path == '/' or 'posts/' %} <a href="{% url 'TODO' %}">TODO</a> {% endif %}

    {% if user.is_authenticated %}
        {% if "/account/" in request.path and username == user.username %}
            <a href="{% url 'postVideo' %}" class="button">Make A Video</a>
        {% endif %}
        <navbar-buttons>
        <form method="post" action="{% url 'logout' %}">
            {% block extra_navbar %}
            {% endblock extra_navbar%}
            {% if 'posts/' in request.path %}
            <a class="button" href="{% url 'index' %}">Videos</a>
            {% elif '/' == request.path %}
            <a class="button" href="{% url 'postIndex' %}">Posts</a>
            {% endif %}
            <a id="name" class="button" href="{% url 'account' user.username %}">{{ user.username }}</a>
            {% csrf_token %}
            <button type="submit">Logout</button>
            {% if user.is_staff %}
                <a class="button" href="/admin">Admin Site</a>
            {% endif %}
        </form>
        </navbar-buttons>
    {% else %}
    <navbar-buttons>
        <a class="button" href="login">Login</a>
        <a class="button" href="signup">Sign Up</a>
    </navbar-buttons>
    {% endif %}
</div>
    {% block page_content %}
    {% endblock page_content %}
</body>

</html>