{% extends "base.html" %}

{% load static %}

{% block page_content %}
<h1>Post Video</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.title }}*
    </div>
    <div>
        {{ form.description }}
    </div>
    <div>
        Thumbnail: {{ form.thumbnail }}
    </div>
    <div>
        Video: {{ form.video_file }}*
    </div>
    <small>* marks a field as required</small><br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'app:index' %}">Cancel</a>
</form>

<small>Please note that videos and comments may be deleted, as YubTub is still in development.</small>
{% endblock page_content %}