{% extends "base.html" %}
{% block page_title %}Create Post{% endblock page_title %}

{% block page_content %}
<h1>Create Post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.title }}
    </div>
    <div>
        {{ form.body }}<br>
    <small><a href="{% url 'app:mdHelp' %}">Markdown</a> is supported!</small>
    </div>
    <div>
        <small>Add an image</small>
		{% if post.images %}
			<img src="{{ post.images.url }}" alt="" width="{{ post.image_size }}%" height="auto">
		{% endif %}
    	{{ form.images }} <b>(Not Required)</b>
        <br>Image Size (%)
        {{ form.image_size }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'app:index' %}">Cancel</a>
</form>
{% endblock page_content %}