{% extends "base.html" %}
{% load markdown_truncate %}

{% block title %}YubTub - Home{% endblock title %}


{% block page_content %}
    {% if combined %}
    <div class="video-grid">
        {% for thing in combined %}

            {% if thing.type == "video" %}
                <div class="video-card">
                    <a href="{% url 'app:watch' thing.id %}">
                        <img src="{{ thing.thumbnail.url }}" alt="Thumbnail">
                    </a>
                    <div class="video-card-info">
                        <strong>{{ thing.title }}</strong>
                        <p>{{ thing.description | markdown_truncate:80 }}</p>
                        <small>
                            <a href="{% url 'app:account' thing.author %}">{{ thing.author }}</a>
                            · {{ thing.created_on }}
                        </small>
                    </div> 
                </div>

            {% elif thing.type == "post" %}
                <div class="post-card">
                    <div class="post-card-label">Post - <u>{{ thing.author }}</u></div>
                    
                    <a href="{% url 'app:post' thing.pk %}">
                        <strong>{{ thing.title }}</strong>
                    </a>
                    <p>{{ thing.body | markdown_truncate:100 }}</p>
                    <small>{{ thing.created_on }}</small>
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% else %}
    <p>Nothing posted yet.</p>
{% endif %}
{% endblock page_content %}