{% extends "base.html" %}
{% load markdown_truncate %}
{% block title %}YubTub - Home{% endblock title %}
{% block extra_navbar %}
<a href="{% url 'app:postIndex' %}" class="button">Posts</a>
{% endblock extra_navbar %}
{% block page_content %}
    {% if videos %}
        {% for video in videos %}
            <div style="display: flex">
            <a href="{% url 'app:watch' video.id %}">
                <img src="{{ video.thumbnail.url }}" alt="Thumbnail" width="200" height="150"><br>
            </a>
            <p style="padding: 5px;"> {{ video.description | markdown_truncate:100 | linebreaks }}</p>
            </div> 
            <small>
                <a href="{% url 'app:account' video.author %}">{{ video.author }}</a> Uploaded "{{ video.title }}" on: {{ video.created_on }}<br><br>
            </small>
            
        {% endfor %}
        
    {% else %}
        <p>No videos available.</p>
    {% endif %}
{% endblock page_content %}