{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/calendar.js' %}"></script>
    <script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block page_content %}
<h1>Create Recipe</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.title }}
    </div>
    <div>
        {{ form.description }}
    </div>
    <div>
        <p>Schedule Post</p>
        {{ form.schedulePost }}
    </div>
    <div>
        Thumbnail: {{ form.thumbnail }}
    </div>
    <div>
        Video: {{ form.video }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'index' %}">Cancel</a>
</form>
{% endblock page_content %}