{% extends "base.html" %}

{% block page_content %}
<h1>Create Recipe</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.title }}
    </div>
    <div>
        {{ form.description }}
    </div>
    <div>
        <p>Scedule Post</p>
        {{ form.schedulePost }}
    </div>
    <div>
        {{ form.thumbnail }}
    </div>
    <div>
        Video: {{ form.video }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'index' %}">Cancel</a>
</form>
{% endblock page_content %}