{% extends "base.html" %}
{% load markdown_extras dict_extras %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} at {{ post.created_on.time}}
    </small>
    <p>
        By <a href="{% url 'app:account' post.author %}">{{ postAuthor }}</a>
    </p>

    <p>{{ post.body | markdown }}</p>
    <div style="justify-content: center; align-items: center; ">	
    	{% if post.images %}
    	<img src="{{ post.images.url }}" alt="" width="40%" height="auto">
    	{% endif %}
    </div>

	<hr>
    {% if user.is_authenticated and not muted %}
    <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
    <h3>Comments:</h3>
    <div>
    {% for comment in comments %}
        <p>
            On {{ comment.created_on.date }} <b>{{ authors | get_item:comment.author }}</b> wrote:
            <div style="margin-left: 25px;">
                {% if comment.author.username == "admin" %}
                    {{ comment.body | markdown | linebreaks }}
                {% else %}
                    {{ comment.body | linebreaks }}
                    <script>console.log("{{ comment.body }}")</script>
                {% endif %}
            </div>
        </p>
    {% endfor %}
    </div>

{% endblock page_content %}