{% extends "base.html" %}

{% block title %}YubTub: {{ videos.title }}{% endblock title %}

{% block page_content %}

<video width="50%" height="50%" controls Play Pause Seeking Volume Fullscreen autoplay>
  <source src="../media/{{ videos.video_file }}" type="video/mp4">
  No video support.
</video>
<div>
<a href="../media/{{ videos.video_file }}" class="button">vid</a>
<small>Views: {{ videos.views }}</small>
{{ videos.description | linebreaks }}  <!-- linegrapes/ do she pipe it tillyo linebreaks -->
</div>
{% endblock %}
