{% extends "base.html" %}
{% load markdown_extras dict_extras %}
{% block title %}YubTub: {{ videos.title }}{% endblock title %}

{% block page_content %}
<h1>{{ videos.title }}</h1>
Uploaded by <a href="/{% url 'app:account' videos.author %}">{{ videoAuthor }}</a>
<div>
<video width="50%" height="50%" controls Play Pause Seeking Volume Fullscreen>
  <source src="{{ videos.video_file.url }}" type="video/mp4">
  No video support.
</video>
</div>

<div>
<a href="{{ videos.video_file.url }}" class="button">vid</a>
<button id="like-button" data-video-id="{{ pk }}" onclick="likeVideo()">{{ likes }}:&#x1F44D;</button> <small>Views: {{ videos.views }}</small>


{{ videos.description | markdown | linebreaks }}  <!-- linegrapes/ do she pipe it tillyo linegreaps -->
</div>

<div>
	{% if user.is_authenticated and not muted %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			{{ form.body }}
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	{% endif %}
</div>
{% block comments %}
<h3>Comments:</h3>
{% for comment in comments %}
<p>
    On {{ comment.created_on.date }}, at {{ comment.created_on.time }} <b>{{ authors | get_item:comment.author }}</b> wrote: 
    <div style="margin-left: 25px;">
		{% if comment.author.username == "admin" %}
    		{{ comment.body | markdown | linebreaks }}
		{% else %}
			{{ comment.body | linebreaks }}
		{% endif %}
    </div>
</p>
{% endfor %}
{% endblock comments %}
<div id="toast-container"></div>
{% endblock %}
